*{
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5% ;
}


.margen{
    margin-left: 5rem;
    margin-right: 5rem;
    margin-top: 9rem;
    
    display: flex;
    flex-direction: column;
}
.cuadro_1{
    width: 49rem;
    height: 50rem;
    background-color: orangered;
    border: 1px solid black;
    border-radius: 75px;
}
.cuadro_2{
    
    width: 45rem;
    height: 24rem;
    background-color: orangered;
    border: 1px solid black;
    border-radius: 75px;
    margin-top: 6.5rem;
    align-self: flex-end;
    
}
.cuadro_3{
    width: 45rem;
    height: 47rem;
    background-color: orangered;
    border: 1px solid black;
    border-radius: 75px;
    margin:auto;
    margin-top: 5rem;
    
}
.cuadro_4{
    width: 45rem;
    height: 10rem;
    background-color: orangered;
    border: 1px solid black;
    border-radius: 75px;
    margin-top: 6.5rem;
    align-self: flex-end;
    
        
}
.cuadro_5{
    height: 1rem;
    background-color: black;
}
.circulos{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.div_circulo{
    width: 13rem;
    height: 13rem;
    margin-top: 1rem;
    border-radius: 50%;
    background: aqua;
    
}
