*{
    margin: 0;
    padding: 0;
}
.margen{
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 90px;
    
    display: flex;
    flex-direction: column;
}
.cuadro_1{
    width: 490px;
    height: 500px;
    background-color: orangered;
    border: 1px solid black;
    border-radius: 75px;
}
.cuadro_2{
    
    width: 450px;
    height: 240px;
    background-color: orangered;
    border: 1px solid black;
    border-radius: 75px;
    margin-top: 65px;
    align-self: flex-end;
    
}
.cuadro_3{
    width: 450px;
    height: 470px;
    background-color: orangered;
    border: 1px solid black;
    border-radius: 75px;
    margin:auto;
    margin-top: 50px;
    
}
.cuadro_4{
    width: 450px;
    height: 100px;
    background-color: orangered;
    border: 1px solid black;
    border-radius: 75px;
    margin-top: 65px;
    align-self: flex-end;
    
        
}
.cuadro_5{
    height: 10px;
    background-color: black;
}
.circulos{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.div_circulo{
    width: 130px;
    height: 130px;
    margin-top: 9px;
    border-radius: 50%;
    background: aqua;
    
}