*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    tamaño de fuente :  62,5 % ;
}
.Wirefraem{
    display: flex;
    flex-direction: column;
    padding: 3rem;
    width: 37rem;
    height: auto;
    
}
.uno{
    width: 13rem;
    height: 13rem;
    background-color: purple;
    border: 1px solid black;
    border-radius: 80px;
    margin:auto;
    margin-top: 3rem;
}
.dos{
    width: 26rem;
    height: 3rem;
    background-color: purple;
    border: 1px solid black;
    border-radius: 2opx;
    margin:auto;
    margin-top: 4rem;
    
        
}
.tres{
    
    width: 15rem;
    height: 1rem;
    background-color: royalblue;
    border: 1px solid black;
    border-radius: 20px;
    margin:auto;
    margin-top: 4rem;
    
}
.cuatro{
    
    width: 14rem;
    height: 1rem;
    background-color: royalblue;
    border: 1px solid black;
    border-radius: 20px;
    margin:auto;
    margin-top: 1rem;
    
}

.cinco{
    width: 24rem;
    height: 13rem;
    background-color: orangered;
    border: 1px solid black;
    border-radius: 20px;
    margin:auto;
    margin-top: 4rem;
    
}
.seis{
    width: 30rem;
    height: 3.5rem;
    background-color: royalblue;
    border: 1px solid black;
    border-radius: 10px;
    margin:auto;
    margin-top: 4.5rem;
    
        
}
